/* .modal-container {
  background-color: rgba(190, 199, 199, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
} */
.modal {
  &-form {
    position: absolute;
    top: 200px;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 100px;
    background-color: orange;
    padding: 20px;
    border-radius: 8px;
    h1 {
      margin: 0 0 10px 0;
      text-align: center;
    }
    .modal-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      input,
      select {
        width: 250px;
        border-radius: 4px;
        outline: none;
        border: 0;
        height: 24px;
      }
      textarea {
        width: 250px;
        border-radius: 4px;
        outline: none;
        border: 0;
      }
    }
    .modal-action {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;
      align-items: center;
      button {
        width: 20%;
        height: 30px;
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        padding: 0;
        &:active {
          background-color: #ccc;
        }
      }
    }
  }
}
