.task-item {
  width: 240px;
  height: 250px;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.task-item p {
  margin: 0;
  overflow: hidden;
}
.task-description {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid blue;
}
.status-btn {
  background-color: #3d5699;
  width: 80px;
  height: 30px;
  border: 1px solid blue;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  align-self: center;
  margin-top: 10px;
}
