.panigation {
  margin-top: 20px;
  height: 50px;
  color: blue;
  text-align: center;
}
.panigation-item {
  display: inline-block;
  padding: 10px;
  width: 40px;
  font-size: 20px;
  border: 1px solid blue;
  border-right: 0;
  cursor: pointer;
}
.panigation-item:first-child {
  border-radius: 8px 0 0 8px;
}
.panigation-item:last-child {
  border-right: 1px solid blue;
  border-radius: 0 8px 8px 0;
}
