.create-btn {
  height: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: 2px solid white;
  color: white;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
