.task-list {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  align-content: flex-start;
  max-height: calc(100vh - 134px);
  overflow-y: scroll;
}
